extends ../node_modules/jade-bootstrap/_bootstrap
block body

	+navbar("Colenso", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/stringSearch") String Search
		+nav_item("/xQuerySearch") XQuery Search

	.container
		a(href ="/saveXml?file=" + path) Save
		p #{saved}

	.container
		br
		h3 Viewing #{path}
		p  !{file}